<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 ,shrink-to-fit=no">
    <title>OA系统首页</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
    <script type="text/javascript"  src="/webjars/jquery/3.5.1/jquery.js"></script>
    <script type="text/javascript"  src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/global.css">
</head>
<body style="padding-top: 66px; margin-left: -15px; ">

<div class="container-fluid">
    <!--顶部导航栏-->
    <div class="row ">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark  fixed-top">
            <div class="navbar-brand ">
                <a href="#" alt="logo">
                    <img class="rounded-circle" src="/static/favicon.ico" style="width: 27px;">
                </a>
                <a href="" alt="logotext" >OA自动化办公系统</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="collapsibleNavbar">
                <ul class="nav navbar-nav nav-pills nav-justified   w-50">
                    <li class="nav-item  ">
                        <a class="nav-link " href="#"></a>
                    </li>
                    <li class="nav-item  active">
                        <a class="nav-link" href="#">在线客服</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link" href="#">电话热线</a>
                    </li>
                    <li class="nav-item  ">
                        <a class="nav-link" href="#">问题反馈</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--顶部导航栏结束-->

    <!--中间部分-->
    <div class="row " style=" padding-top: 20px">
        <div class="col-12 col-sm-2 " >
            <div class="row">
                <!--用户头像信息-->
                <div class="col-12">
                    <div class="card" style="width: 99%">
                    <div class="card-body row">
                        <div class="col-6">
                            <img class="card-img-top " src="https://static.runoob.com/images/mix/img_avatar.png" alt="Card image">
                        </div>
                        <div class="col-6">
                            <h4 class="card-title">宋京</h4>
                            <p class="card-text">92590 </p>
                            <a href="#" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                </div>
                <!--侧边导航栏-->
                <div class="col-12">
                    <div class=" btn btn-block btn-group-vertical">
                        <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#demo">我的人事</button>
                            <div id="demo" class="collapse w-100">
                                <button  class="btn btn-block btn-secondary" >内部推荐</button>
                                <button  class="btn btn-block btn-secondary">内部调动</button>
                                <button  class="btn btn-block btn-secondary">劳动关系</button>
                                <button  class="btn btn-block btn-secondary">我的福利</button>
                                <button  class="btn btn-block btn-secondary">政策制度</button>
                            </div>
                        <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#demo8">费用报销</button>
                        <div id="demo8" class="collapse w-100" >
                            <button class="btn btn-block btn-secondary">餐费报销</button>
                            <button class="btn btn-block btn-secondary">交通费报销</button>
                            <button class="btn btn-block btn-secondary">日常办公费报销</button>
                            <button class="btn btn-block btn-secondary">业务招待费</button>
                            <button class="btn btn-block btn-secondary">日常福利费</button>
                        </div>
                        <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#demo2">信息管理</button>
                            <div id="demo2" class="collapse w-100" >
                                <button class="btn btn-block btn-secondary">公告</button>
                                <button class="btn btn-block btn-secondary">新闻</button>
                                <button class="btn btn-block btn-secondary">投票</button>
                                <button class="btn btn-block btn-secondary">讨论</button>
                            </div>
                        <button type="button" class="btn btn-dark"  data-toggle="collapse" data-target="#demo3">资质盖章</button>
                            <div id="demo3" class="collapse w-100" >
                                <button class="btn btn-block btn-secondary">因公盖章</button>
                                <button class="btn btn-block btn-secondary">在职收入证明</button>
                                <button class="btn btn-block btn-secondary">实习证明</button>
                                <button class="btn btn-block btn-secondary">其他证明</button>
                            </div>
                        <button type="button" class="btn btn-dark"  data-toggle="collapse" data-target="#demo7">差旅管理</button>
                            <div id="demo7" class="collapse w-100" >
                                <button class="btn btn-block btn-secondary">机票预定</button>
                                <button class="btn btn-block btn-secondary">酒店预订</button>
                                <button class="btn btn-block btn-secondary">国内差旅借款</button>
                                <button class="btn btn-block btn-secondary">境外差旅借款</button>
                                <button class="btn btn-block btn-secondary">差旅报销</button>
                            </div>
                        <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#demo5">项目管理</button>
                            <div id="demo5" class="collapse w-100" >
                                <button class="btn btn-block btn-secondary">立项审批</button>
                                <button class="btn btn-block btn-secondary">项目绩效</button>
                                <button class="btn btn-block btn-secondary">项目资金</button>
                                <button class="btn btn-block btn-secondary">项目进度</button>
                                <button class="btn btn-block btn-secondary">工时系统</button>
                                <button class="btn btn-block btn-secondary">资源管理DMP</button>
                            </div>
                        <button type="button" class="btn btn-dark"  data-toggle="collapse" data-target="#demo6">辅助管理</button>
                            <div id="demo6" class="collapse w-100" >
                                <button  class="btn btn-block btn-secondary">员工档案</button>
                                <button  class="btn btn-block btn-secondary">图书管理</button>
                                <button  class="btn btn-block btn-secondary">会议管理</button>
                                <button  class="btn btn-block btn-secondary">车辆管理</button>
                                <button  class="btn btn-block btn-secondary">办公用品</button>
                            </div>
                    </div>
                </div>
                <!--预设设置按钮-->
                <div class="col-12">
                    <nav class="nav "></nav>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-10">
            <div class="row ">
                <div class="col-12 col-sm-9">
                    <div class="row">
                        <!--面包屑导航地址-->
                        <div class="col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Library</a></li>
                                <li class="breadcrumb-item active">Data</li>
                            </ol>
                        </div>
                    </div>
                    <!--轮播-->
                    <div id="carou" class="carousel slide"  data-ride="carousel">
                        <!-- 指示符 -->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>

                        <!-- 轮播图片 -->
                        <div class="carousel-inner" >
                            <div class="carousel-item active">
                                <img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg" style="width: 100%">
                                <div class="carousel-caption">
                                    <h3>第一张图片描述标题</h3>
                                    <p>描述文字!</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg" style="width: 100%">
                                <div class="carousel-caption">
                                    <h3>第二张图片描述标题</h3>
                                    <p>描述文字!</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg" style="width: 100%">
                                <div class="carousel-caption">
                                    <h3>第三张图片描述标题</h3>
                                    <p>描述文字!</p>
                                </div>
                            </div>
                            <!-- 左右切换按钮 -->
                            <a class="carousel-control-prev" href="#carou" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#carou" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-3" style="padding-left: 10px">
                    <div class="card">
                        <div class="card-header bg-primary text-white">日程提醒</div>
                        <h3 class="card-title text-center">选用bootstrap的理由</h3>
                        <div class="card-body ">
                            在众多UI库中选用bootstrap，首先bootstrap是移动设备优先，响应式布局，简洁直观，
                            element UI是基于vue2.0的UI框架，其UI设计与bootstrap不相上下，但是不再维护，且elementUI是与vue配合使用更佳，这样上手所花时间较多，
                            layUI和semantic UI的设计没有bootstrap美观，且栅格较细，不容易处理，bootstrap4.5.0取消了3.3.7的字体图标设计，因此自己导入其图标样式
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 20px">
                <div class="col-12 col-sm-3">
                    <div class="card">
                        <div class="card-header bg-success text-white">最新消息</div>
                        <h3 class="card-title text-center">选用bootstrap的理由</h3>
                        <div class="card-body ">
                            在众多UI库中选用bootstrap，首先bootstrap是移动设备优先，响应式布局，简洁直观，
                            element UI是基于vue2.0的UI框架，其UI设计与bootstrap不相上下，但是不再维护，且elementUI是与vue配合使用更佳，这样上手所花时间较多，
                            layUI和semantic UI的设计没有bootstrap美观，且栅格较细，不容易处理，bootstrap4.5.0取消了3.3.7的字体图标设计，因此自己导入其图标样式
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-5">
                    <div class="card">
                        <div class="card-header bg-warning text-white">技术论坛</div>
                        <h3 class="card-title text-center">选用bootstrap的理由</h3>
                        <div class="card-body ">
                            <ul>
                                <a href="#" class="card-link"> <ol> Card link</ol></a>
                                <a href="#" class="card-link"> <ol> Card link</ol></a>
                                <a href="#" class="card-link"> <ol> Card link</ol></a>
                                <a href="#" class="card-link"> <ol> Card link</ol></a>
                            </ul>

                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-12  col-sm-4">
                    <div class="card">
                        <div class="card-header bg-secondary text-white">最新政策</div>
                        <h3 class="card-title text-center">选用bootstrap的理由</h3>
                        <div class="card-body ">
                            在众多UI库中选用bootstrap，首先bootstrap是移动设备优先，响应式布局，简洁直观，
                            element UI是基于vue2.0的UI框架，其UI设计与bootstrap不相上下，但是不再维护，且elementUI是与vue配合使用更佳，这样上手所花时间较多，
                            layUI和semantic UI的设计没有bootstrap美观，且栅格较细，不容易处理，bootstrap4.5.0取消了3.3.7的字体图标设计，因此自己导入其图标样式
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="card">
                        <div class="card-header bg-success text-white">息息相关</div>
                        <h3 class="card-title text-center">选用bootstrap的理由</h3>
                        <div class="card-body ">
                            在众多UI库中选用bootstrap，首先bootstrap是移动设备优先，响应式布局，简洁直观，
                            element UI是基于vue2.0的UI框架，其UI设计与bootstrap不相上下，但是不再维护，且elementUI是与vue配合使用更佳，这样上手所花时间较多，
                            layUI和semantic UI的设计没有bootstrap美观，且栅格较细，不容易处理，bootstrap4.5.0取消了3.3.7的字体图标设计，因此自己导入其图标样式
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-12 col-sm-5">
                    <div class="card">
                        <div class="card-header bg-warning text-white">会议回放</div>
                        <h3 class="card-title text-center">选用bootstrap的理由</h3>
                        <div class="card-body ">
                            <ul>
                                <a href="#" class="card-link"> <ol> Card link</ol></a>
                                <a href="#" class="card-link"> <ol> Card link</ol></a>
                                <a href="#" class="card-link"> <ol> Card link</ol></a>
                                <a href="#" class="card-link"> <ol> Card link</ol></a>
                            </ul>

                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
                <div class="col-12  col-sm-4">
                    <div class="card">
                        <div class="card-header bg-secondary text-white">产品与解决方案</div>
                        <h3 class="card-title text-center">选用bootstrap的理由</h3>
                        <div class="card-body ">
                            在众多UI库中选用bootstrap，首先bootstrap是移动设备优先，响应式布局，简洁直观，
                            element UI是基于vue2.0的UI框架，其UI设计与bootstrap不相上下，但是不再维护，且elementUI是与vue配合使用更佳，这样上手所花时间较多，
                            layUI和semantic UI的设计没有bootstrap美观，且栅格较细，不容易处理，bootstrap4.5.0取消了3.3.7的字体图标设计，因此自己导入其图标样式
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--中间部分结束-->

    <!--底部-->
    <div class="row bg-dark">
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3" >
            <ul>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
            </ul>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3" >
            <ul>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
            </ul>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3" >
            <ul>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
            </ul>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-3" >
            <ul>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
                <a href=""><li>友情链接</li></a>
            </ul>
        </div>
        <div class="col-12 text-secondary text-center">
            <hr class="bg-white">
            在众多UI库中选用bootstrap，首先bootstrap是移动设备优先，响应式布局，简洁直观，
            element UI是基于vue2.0的UI框架，其UI设计与bootstrap不相上下，但是不再维护，且elementUI是与vue配合使用更佳，这样上手所花时间较多，
            layUI和semantic UI的设计没有bootstrap美观，且栅格较细，不容易处理，bootstrap4.5.0取消了3.3.7的字体图标设计，因此自己导入其图标样式
        </div>
    </div>
    <!--底部结束-->
</div>
</body>

</html>